<form name="vm.form" ng-submit="vm.save()">
  <fieldset>
    <legend>subproject Form</legend>
    <div ng-if="vm.subprojectModel">
      <label for="subproject-form-customer-id">Project:</label>
      <select name="customerId" id="subproject-form-customer-id" ng-model="vm.formData.selectedProject" ng-required="true"
              ng-options="project.title for project in vm.projectCollection">
      </select>

      <label for="subproject-form-title">Title:</label>
      <input type="text" name="title" id="subproject-form-title" ng-model="vm.formData.title" ng-required="true">

      <label for="subproject-form-project-number">ProjectNumber:</label>
      <input type="text" name="projectNumber" id="subproject-form-project-number" ng-model="vm.formData.projectNumber" ng-required="true">

      <input type="submit" value="Save" ng-disabled="vm.form.$invalid"/>
      <input type="button" value="Cancel" ng-click="vm.cancel()"/>
    </div>
    <div ng-if="!vm.subprojectModel">
      <input type="button" value="New" ng-click="vm.create()"/>
    </div>
  </fieldset>
</form>
