<form name="vm.form" ng-submit="vm.save()">
  <fieldset>
    <legend>Project Form</legend>
    <div ng-if="vm.projectModel">

      <label for="project-form-customer-id">Customer:</label>
      <select name="customerId" id="project-form-customer-id" ng-model="vm.formData.selectedCustomer" ng-required="true"
              ng-options="customer.labelText for customer in vm.customerCollection">
      </select>

      <label for="project-form-title">Title:</label>
      <input type="text" name="title" id="project-form-title" ng-model="vm.formData.title" ng-required="true">

      <label for="project-form-project-number">ProjectNumber:</label>
      <input type="text" name="projectNumber" id="project-form-project-number" ng-model="vm.formData.projectNumber" ng-required="true">

      <input type="submit" value="Save" ng-disabled="vm.form.$invalid"/>
      <input type="button" value="Cancel" ng-click="vm.cancel()"/>
    </div>
    <div ng-if="!vm.projectModel">
      <input type="button" value="New" ng-click="vm.create()"/>
    </div>
  </fieldset>
</form>
