<!DOCTYPE html>
<html>
  <head>
    <title>Freelance Buddy</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="app">
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/js-signals/dist/signals.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/js/extensions/me-angular-classes/me-angular-classes.module.js"></script>
    <script src="/js/extensions/me-angular-classes/class.provider.js"></script>
    <script src="/js/extensions/me-angular-models/me-angular-models.module.js"></script>
    <script src="/js/extensions/me-angular-models/model.provider.js"></script>
    <script src="/js/extensions/me-angular-models/collection.provider.js"></script>
    <script src="/js/extensions/me-angular-models/model-relation-builder.factory.js"></script>
    <script src="/js/extensions/me-angular-models/classes/BaseCollection.class.js"></script>
    <script src="/js/extensions/me-angular-models/classes/BaseModel.class.js"></script>
    <script src="/js/extensions/me-angular-models/classes/BaseModelApi.class.js"></script>
    <script src="/js/app/customers/customers.module.js"></script>
    <script src="/js/app/incomes/incomes.module.js"></script>
    <script src="/js/app/projects/projects.module.js"></script>
    <script src="/js/app/spendings/spendings.module.js"></script>
    <script src="/js/app/subprojects/subprojects.module.js"></script>
    <script src="/js/app/suppliers/suppliers.module.js"></script>
    <script src="/js/app/customers/customer-form.directive.js"></script>
    <script src="/js/app/customers/customer.collection.js"></script>
    <script src="/js/app/customers/customer.model.js"></script>
    <script src="/js/app/customers/customers.controller.js"></script>
    <script src="/js/app/incomes/income-form.directive.js"></script>
    <script src="/js/app/incomes/income.collection.js"></script>
    <script src="/js/app/incomes/income.model.js"></script>
    <script src="/js/app/incomes/incomes.controller.js"></script>
    <script src="/js/app/projects/project-form.directive.js"></script>
    <script src="/js/app/projects/project.collection.js"></script>
    <script src="/js/app/projects/project.model.js"></script>
    <script src="/js/app/projects/projects.controller.js"></script>
    <script src="/js/app/spendings/spending-form.directive.js"></script>
    <script src="/js/app/spendings/spending.collection.js"></script>
    <script src="/js/app/spendings/spending.model.js"></script>
    <script src="/js/app/spendings/spendings.controller.js"></script>
    <script src="/js/app/subprojects/subproject-form.directive.js"></script>
    <script src="/js/app/subprojects/subproject.collection.js"></script>
    <script src="/js/app/subprojects/subproject.model.js"></script>
    <script src="/js/app/subprojects/subprojects.controller.js"></script>
    <script src="/js/app/suppliers/supplier-form.directive.js"></script>
    <script src="/js/app/suppliers/supplier.collection.js"></script>
    <script src="/js/app/suppliers/supplier.model.js"></script>
    <script src="/js/app/suppliers/suppliers.controller.js"></script>
    <script src="/js/app/app.module.js"></script>
    <script src="/js/app/app.module.config.js"></script>
    <script src="/js/app/app.module.run.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
