$top-bar-height: rem(50px);

$footer-bar-height: rem(30px);

$main-navigation-height: rem(50px);

$grid-max-width: rem(1024px);
$grid-padding: rem(20px);

// z-indexes
$z-index-main-navigation: 100;
$z-index-modal: 200;
