<form name="vm.form" ng-submit="vm.save()">
  <fieldset>
    <legend>Supplier Form</legend>
    <div ng-if="vm.supplierModel">
      <label for="supplier-form-name">Name:</label>
      <input type="text" name="name" id="supplier-form-name" ng-model="vm.formData.name" ng-required="true">

      <input type="submit" value="Save" ng-disabled="vm.form.$invalid"/>
      <input type="button" value="Cancel" ng-click="vm.cancel()"/>
    </div>
    <div ng-if="!vm.supplierModel">
      <input type="button" value="New" ng-click="vm.create()"/>
    </div>
  </fieldset>
</form>
