<div class="row modal">
  <div class="column modal-content">
    <h1>{{ctrl.title}}</h1>
    <hr/>
    <form class="form" name="ctrl.form" ng-submit="ctrl.save()">
      <div class="form-control-group">
        <label class="control-label" for="income-form-subproject-id">Supplier</label>
        <fc-select class="form-control" fc-name="subprojectId" fc-model="ctrl.formData.selectedSupplier" fc-collection="ctrl.supplierCollection" fc-options="supplier.name for supplier in ctrl.fcCollection"></fc-select>
      </div>

      <div class="form-control-group">
        <label class="control-label">Details:</label>

        <fc-text-input class="form-control" fc-form="ctrl.form" fc-type="date" fc-name="payedOn" fc-label="Payed On" fc-model="ctrl.formData.payedOn"></fc-text-input>

        <fc-text-input class="form-control" fc-form="ctrl.form" fc-type="text" fc-name="invoiceNumber" fc-label="Invoice Number" fc-model="ctrl.formData.invoiceNumber"></fc-text-input>
      </div>

      <div class="form-control-group">
        <label class="control-label" for="form-control-input-netTotal">Total:</label>

        <fc-text-input class="form-control" fc-form="ctrl.form" fc-type="number" fc-name="netTotal" fc-label="Net Total" fc-suffix="€" fc-model="ctrl.formData.netTotal" fc-extra-attr="{step: '0.01', min: 0}"></fc-text-input>
        <fc-text-input class="form-control" fc-form="ctrl.form" fc-type="number" fc-name="taxValue" fc-label="Tax Rate" fc-suffix="%" fc-model="ctrl.formData.taxValue" fc-extra-attr="{step: '1', min: 0}"></fc-text-input>
        <fc-text-input class="form-control --disabled" fc-form="ctrl.form" fc-type="number" fc-name="grossTotal" fc-label="Gross Total" fc-suffix="€" fc-model="ctrl.formData.netTotal + ctrl.formData.netTotal * (ctrl.formData.taxValue / 100)" fc-extra-prop="{disabled:true}"></fc-text-input>
        <fc-text-input class="form-control --disabled" fc-form="ctrl.form" fc-type="number" fc-name="taxTotal" fc-label="Tax Total" fc-suffix="€" fc-model="ctrl.formData.netTotal * (ctrl.formData.taxValue / 100)" fc-extra-prop="{disabled:true}"></fc-text-input>
      </div>

      <div class="form-control-group">
        <label class="control-label" for="form-control-input-comment">Note:</label>

        <fc-text-input class="form-control" fc-form="ctrl.form" fc-type="text" fc-name="comment" fc-label="Note" fc-model="ctrl.formData.comment"></fc-text-input>
      </div>


      <div class="form-control-group --centered">
        <div class="form-control text-align-right">
          <input class="button --primary --mid" type="submit" value="Save" ng-disabled="ctrl.form.$invalid"/>
        </div>
        <div ui-view="delete" class="form-control text-align-center" ng-style="{display: deleteVisible == true ? 'block' : 'none', 'min-width': '12em'}"></div>
        <div class="form-control">
          <input class="button --ghost --mid" type="button" value="Cancel" ng-click="ctrl.cancel()"/>
        </div>
      </div>

    </form>
  </div>
</div>
