<form name="vm.form" ng-submit="vm.save()">
  <fieldset>
    <legend>Spending Form</legend>
    <div ng-if="vm.spendingModel">
      <label for="spending-form-supplier-id">Supplier:</label>
      <select name="supplierId" id="spending-form-supplier-id" ng-model="vm.formData.selectedSupplier" ng-required="true"
              ng-options="supplier.name for supplier in vm.supplierCollection">
      </select>

      <label for="spending-form-comment">Comment:</label>
      <input type="text" name="comment" id="spending-form-comment" ng-model="vm.formData.comment">

      <label for="spending-form-invoiceNumber">Invoice Number:</label>
      <input type="text" name="invoiceNumber" id="spending-form-invoiceNumber" ng-model="vm.formData.invoiceNumber">

      <label for="spending-form-payedOn">Payed On:</label>
      <input type="date" name="payedOn" id="spending-form-payedOn" ng-model="vm.formData.payedOn">

      <label for="spending-form-netTotal">Net Total:</label>
      <input type="number" name="netTotal" id="spending-form-netTotal" ng-model="vm.formData.netTotal" ng-required="true" step="0.01" min="0">

      <label for="spending-form-taxValue">Tax Value:</label>
      <input type="number" name="taxValue" id="spending-form-taxValue" ng-model="vm.formData.taxValue" step="0.01" min="0" max="1">

      <label for="spending-form-grossTotal">Gross Total:</label>
      <input type="number" name="grossTotal" id="spending-form-grossTotal" ng-model="vm.spendingModel.grossTotal" ng-disabled="true">

      <label for="spending-form-taxFree">Tax Free:</label>
      <input type="checkbox" name="taxFree" id="spending-form-taxFree" ng-model="vm.formData.taxFree">

      <input type="submit" value="Save" ng-disabled="vm.form.$invalid"/>
      <input type="button" value="Cancel" ng-click="vm.cancel()"/>
    </div>
    <div ng-if="!vm.spendingModel">
      <input type="button" value="New" ng-click="vm.create()"/>
    </div>
  </fieldset>
</form>
